<ul>
  <% posts.forEach(post => { %> <% let authorText = "Hidden"; if (currentUser) {
  if (currentUser.is_vip) { authorText = (post.firstname) ? `${post.firstname}
  (${post.username})` : post.username } } %>

  <li>
    <h3><%= post.title %></h3>
    <span><%= authorText %></span>
    <span><%= post.created_on %></span>
    <p><%= post.body %></p>
  </li>
  <% }); %>
</ul>
