/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS Reset end */

:root {
  --main-background-colour: #eceef2;
  --main-text-colour: #585a72;
  --accent-background-colour: #38b1ce;
  --accent-background-colour-hovered: #57b6cd;
  --accent-text-colour: #ffffff;
  --input-background-color: #ffffff;
  --input-text-color: #000000;
  --border-color: #cbd6dd;
}

html {
  font-family: "Cormorant", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--main-text-colour);
  background-color: var(--main-background-colour);
}

a {
  text-decoration: none;
  color: var(--accent-background-colour);
}

a:hover {
  color: var(--accent-background-colour-hovered);
}

a,
button {
  cursor: pointer;
}

input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--border-color);
}

input,
button {
  height: 45px;
  padding: 8px;
}

form > button[type="submit"] {
  background-color: var(--accent-background-colour);
  color: var(--accent-text-colour);
  border: none;
}

form > button[type="submit"]:hover {
  background-color: var(--accent-background-colour-hovered);
}

.signup-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.signup-login {
  margin: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.signup-login > div {
  display: flex;
  flex-direction: column;
}

.signup-login > * {
  width: 100%;
}
