/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS Reset end */

:root {
  --main-background-colour: #eceef2;
  --main-text-colour: #585a72;
  --accent-background-colour: #38b1ce;
  --accent-background-colour-hovered: #57b6cd;
  --accent-text-colour: #ffffff;
  --input-background-colour: #ffffff;
  --input-text-colour: #000000;
  --input-border-colour: #cbd6dd;
  --focus-colour: var(--main-text-colour);
  --error-text-colour: #fa3c3c;
  --border-colour: #ffffff;
}

:focus-visible {
  outline-color: var(--focus-colour);
}

html {
  font-family: "Cormorant", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--main-text-colour);
  background-color: var(--main-background-colour);
}

a {
  text-decoration: none;
  color: var(--accent-background-colour);
}

a:hover {
  color: var(--accent-background-colour-hovered);
}

a,
button {
  cursor: pointer;
}

input {
  background-color: var(--input-background-colour);
  color: var(--input-text-colour);
  border: 1px solid var(--input-border-colour);
}

input,
textarea,
button {
  height: 45px;
  padding: 8px;
}

form > button[type="submit"] {
  background-color: var(--accent-background-colour);
  color: var(--accent-text-colour);
  border: none;
}

form > button[type="submit"]:hover {
  background-color: var(--accent-background-colour-hovered);
}

ul {
  list-style: none;
  padding: 0;
}

header {
  padding: 0 16px;
  position: sticky;
  top: 20px;
  margin: 20px 100px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.05);
}

header h1,
header .spacer {
  width: 150px;
}

nav {
  flex: 1;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1.2rem;
}

nav > ul a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

hr {
  border: none;
  height: 2px;
  background-color: var(--border-colour);
  margin: 20px 0;
}

h3 {
  font-size: 1.7rem;
  font-weight: 800;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 1250px;
  max-width: 90vw;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.separator {
  cursor: default;
}

.signup-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.signup-login {
  margin: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.signup-login > div {
  display: flex;
  flex-direction: column;
}

.signup-login > * {
  width: 100%;
}

.error-message {
  color: var(--error-text-colour);
}

.welcome-card {
  text-align: center;
  border: 2px solid var(--border-colour);
  padding: 16px;
  font-size: 1.3rem;
}

.no-posts-message {
  font-size: 1.5rem;
  margin: 80px 0;
}

.feed {
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-details {
  font-size: 0.9rem;
  display: flex;
  gap: 16px;
}

.author {
  font-size: 1rem;
}

.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-form label {
  font-weight: 800;
  font-size: 1.2rem;
}

.input-form textarea {
  height: 600px;
  resize: none;
}

.input-form button {
  font-weight: 800;
  font-size: 1.2rem;
  margin-top: 20px;
}

.vip-message,
.vip-form {
  text-align: center;
  width: 500px;
  margin: 8px;
}
