<div class="content">
  <h2>Homepage</h2>
  <% if (currentUser) { %>
  <div>
    Welcome back <%=currentUser.firstname ? currentUser.firstname :
    currentUser.username%>!
  </div>
  <a href="/post/new">Create a new post</a>
  <% } %> <%- include("../partials/posts") %>
</div>
