<div class="homepage">
  <h2>Homepage</h2>
  <div>
    Welcome back <%=currentUser.firstname ? currentUser.firstname :
    currentUser.username%>!
  </div>
  <a href="/new-post">Create a new post</a>
  <%- include("../partials/posts") %>
</div>
