<div class="content">
  <h2>Create a new post</h2>
  <form class="input-form" action="/post/new" method="POST">
    <label for="title">Title: </label>
    <input id="title" name="title" required />
    <label for="body">Text: </label>
    <textarea id="body" name="body"></textarea>
    <button type="submit">Post</button>
  </form>
  <%- include("../partials/errors.ejs") %>
</div>
