<div class="content">
  <h2>Profile</h2>
  <form class="input-form" action="/profile" method="POST">
    <div id="username-info"></div>
    <label for="username">Username: </label>
    <input
      type="text"
      name="username"
      id="username"
      aria-label="Username"
      placeholder="Username"
      maxlength="255"
      value="<%= currentUser.username %>"
      required
    />
    <label for="firstname">First name: </label>
    <input
      type="text"
      name="firstname"
      id="firstname"
      aria-label="First name"
      placeholder="First name"
      maxlength="50"
      value="<%= currentUser.firstname %>"
    />
    <label for="lastname">Last name: </label>
    <input
      type="text"
      name="lastname"
      id="lastname"
      aria-label="Last name"
      placeholder="Last name"
      maxlength="50"
      value="<%= currentUser.lastname %>"
    />
    <button type="submit">Update</button>
    <button type="reset">Reset</button>
  </form>
  <%- include("../partials/errors.ejs") %>
</div>
